<div class="wrapper d-flex align-items-stretch block animated fadeIn">

    <app-sidebar></app-sidebar>

    <div id="content" class="p-4 p-md-5 pt-5">
        <app-navbar></app-navbar>
        <div class="container" style="margin-left: 4%; margin-top: 5%;">
            <div class="card-deck">
                <div class="w-100 d-none d-xl-block">
                    <!-- wrap every 5 on xl-->
                </div>
                <div class="card mb-2">

                    <div class="card-body">

                        <h4 class="card-title text-center">Mis encuestas</h4>

                        <form id="contentToConvert" #f="ngForm" ngNativeValidate (ngSubmit)="actualizarEncuesta(f)">
                            <div class="form-group">

                                <label>Titulo de la encuesta</label>
                                <input [(ngModel)]="encuesta.titulo" name="titulo" type="text" class="form-control" placeholder="Nombre del médico" required>

                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                              <i class="fa fa-save"></i>
                              Guardar
                            </button>
                        </form>

                        <div>


                            <div>
                                <input type="button" value="CPTURE" (click)="captureScreen()" />
                            </div>

                        </div>
                        <div>

                            <!-- <table id="contentToConvert">
                                <tr>
                                    <th>Column1</th>
                                    <th>Column2</th>
                                    <th>Column3</th>
                                </tr>
                                <tr>
                                    <td>Row 1</td>
                                    <td>Row 1</td>
                                    <td>Row 1</td>
                                </tr>
                                <tr>
                                    <td>Row 2</td>
                                    <td>Row 2</td>
                                    <td>Row 2</td>
                                </tr>
                                <tr>
                                    <td>Row 3</td>
                                    <td>Row 3</td>
                                    <td>Row 3</td>
                                </tr>
                                <tr>
                                    <td>Row 4</td>
                                    <td>Row 4</td>
                                    <td>Row 4</td>
                                </tr>
                                <tr>
                                    <td>Row 5</td>
                                    <td>Row 5</td>
                                    <td>Row 5</td>
                                </tr>
                                <tr>
                                    <td>Row 6</td>
                                    <td>Row 6</td>
                                    <td>Row 6</td>
                                </tr>
                            </table> -->
                        </div>
                        <!--
                        <div class="card-text">

                            <div class="card-columns">

                                <div class="card tarjetas">

                                    <div class="card-body">
                                        <h5 class="card-title">TITULO DE LA ENCUESTA</h5>
                                        <p class="card-text">FECHA DE CREACIÓN, CLIENTE</p>
                                        <button routerLink="/actualizar" title="Editar esta encuesta" type="button" class="btn btn-warning">Editar</button>&nbsp;
                                        <button routerLink="/eliminar" title="Eliminar encuesta" type="button" class="btn btn-danger">Eliminar</button>
                                    </div>

                                </div>

                                <div onclick="mostrar=true" class="card tarjetas">

                                    <div class="card-body">
                                        <h5 class="card-title">TITULO DE LA ENCUESTA</h5>
                                        <p class="card-text">FECHA DE CREACIÓN, CLIENTE</p>
                                        <button routerLink="/actualizar" title="Editar esta encuesta" type="button" class="btn btn-warning">Editar</button>&nbsp;
                                        <button routerLink="/eliminar" title="Eliminar encuesta" type="button" class="btn btn-danger">Eliminar</button>
                                    </div>

                                </div>

                                <div class="card tarjetas">


                                    <div class="card-body">
                                        <h5 class="card-title">TITULO DE LA ENCUESTA</h5>
                                        <p class="card-text">FECHA DE CREACIÓN, CLIENTE</p>
                                        <button routerLink="/actualizar" title="Editar esta encuesta" type="button" class="btn btn-warning">Editar</button>&nbsp;
                                        <button routerLink="/eliminar" title="Eliminar encuesta" type="button" class="btn btn-danger">Eliminar</button>
                                    </div>

                                </div>

                            </div>

                        </div> -->

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
