<div class="wrapper d-flex align-items-stretch block animated fadeIn">

    <app-sidebar></app-sidebar>

    <div id="content" class="p-4 p-md-5 pt-5">
        <app-navbar></app-navbar>
        <div class="container" style="margin-left: 4%; margin-top: 5%;">
            <div class="card-deck" #content>
                <div class="w-100 d-none d-xl-block">
                    <!-- wrap every 5 on xl-->
                </div>
                <div class="card mb-2">

                    <div class="card-body">

                        <div class="card-text">

                            <!-- <input type="button" value="CPTURE" (click)="captureScreen ()" /> -->
                            <h4 class="text-center">{{titulo}}</h4>
                            <hr>
                            <br>
                            <br>
                            <form>
                                <div *ngIf="cargando && preguntas.length >0" class="row animated fadeIn">
                                    <div class="col-sm-12">
                                        <div class="alert-warning text-center">
                                            <strong>Cargando</strong>
                                            <br>
                                            <i class="fa fa-refresh fa-spin fa-2x"></i>
                                            <br>
                                            <span>Espere por favor</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" *ngFor="let pregunta of preguntas; let i = index">
                                    <h5>{{pregunta.pregunta}}</h5>
                                    <div *ngFor="let opcion of opciones; let j = index">
                                        <div *ngIf="opcion.Preguntaid === pregunta.id_Pregunta && i === 0" class="custom-control custom-radio">
                                            <input type="radio" id="{{opcion.opcion}}" name="{{i}}" class="custom-control-input">
                                            <label class="custom-control-label" for="{{opcion.opcion}}">{{opcion.opcion}}</label>
                                        </div>
                                        <div *ngIf="opcion.Preguntaid === pregunta.id_Pregunta && i === 1" class="custom-control custom-radio">
                                            <input type="radio" id="{{opcion.opcion}}" name="{{i}}" class="custom-control-input">
                                            <label class="custom-control-label" for="{{opcion.opcion}}">{{opcion.opcion}}</label>
                                        </div>
                                        <div *ngIf="opcion.Preguntaid === pregunta.id_Pregunta && i === 2" class="custom-control custom-radio">
                                            <input type="radio" id="{{opcion.opcion}}" name="{{i}}" class="custom-control-input">
                                            <label class="custom-control-label" for="{{opcion.opcion}}">{{opcion.opcion}}</label>
                                        </div>
                                        <div *ngIf="opcion.Preguntaid === pregunta.id_Pregunta && i === 3" class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="{{opcion.opcion}}">
                                            <label class="custom-control-label" for="{{opcion.opcion}}">{{opcion.opcion}}</label>
                                        </div>
                                        <div *ngIf="opcion.Preguntaid === pregunta.id_Pregunta && i === 5" class="custom-control custom-radio">
                                            <input type="radio" id="{{opcion.opcion}}" name="{{i}}" class="custom-control-input">
                                            <label class="custom-control-label" for="{{opcion.opcion}}">{{opcion.opcion}}</label>
                                        </div>
                                        <div *ngIf="opcion.Preguntaid === pregunta.id_Pregunta && i === 6" class="custom-control custom-radio">
                                            <input type="radio" id="{{opcion.opcion}}" name="{{i}}" class="custom-control-input">
                                            <label class="custom-control-label" for="{{opcion.opcion}}">{{opcion.opcion}}</label>
                                        </div>
                                        <div *ngIf="opcion.Preguntaid === pregunta.id_Pregunta && i === 7" class="custom-control custom-radio">
                                            <input type="radio" id="{{opcion.opcion}}" name="{{i}}" class="custom-control-input">
                                            <label class="custom-control-label" for="{{opcion.opcion}}">{{opcion.opcion}}</label>
                                        </div>
                                        <div *ngIf="opcion.Preguntaid === pregunta.id_Pregunta && i === 8" class="custom-control custom-radio">
                                            <input type="radio" id="{{opcion.opcion}}" name="{{i}}" class="custom-control-input">
                                            <label class="custom-control-label" for="{{opcion.opcion}}">{{opcion.opcion}}</label>
                                        </div>
                                        <div *ngIf="i === 9 && j===38" class="mydiv">
                                            <textarea class="mytextarea" rows="4" cols="4" required minlength="20" maxlength="200"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
