.wrapper {
    width: 100%;
}

#content {
    width: 100%;
    padding: 0;
    display: inline-block;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: -5%;
}


/* .contenido {
    -webkit-box-shadow: -7px -10px 75px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px -10px 75px -19px rgba(0, 0, 0, 0.75);
    box-shadow: -7px -10px 75px -19px rgba(0, 0, 0, 0.75);
} */

h4 {
    color: #ea4900;
}

.progress {
    background-color: #fad2c9;
}

.progress-bar {
    background-color: #ea4900;
}

.ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;
    /* Volver a dar tamaño al texto */
    font-size: 32px;
    font-size: 2rem;
    color: #888;
}

.ec-stars-wrapper:hover a {
    color: #ea4900;
}


/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */

.ec-stars-wrapper>a:hover~a {
    color: #888;
}

.custom-control-label ::after {
    background-color: #ea4900 !important;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}


/* Borde que sobrepone */


/* .border {
            margin-top: 0.2%;
            border-radius: 250px;
            border: 3px solid #ea4900 !important;
            width: 20px;
            margin-left: -2.6%;
            height: 20px;
            position: absolute;
        }

        .bordec {
            border-radius: 200px 33px 33px 33px;
            -moz-border-radius: 200px 33px 33px 33px;
            -webkit-border-radius: 200px 33px 33px 33px;
            border: 3px solid #ea4900;
            margin-top: 0.2;
            width: 5%;
            height: 5%;
            margin-bottom: 100%;
            position: absolute;
        }

        input[type="radio"]:checked+label:before {
            background: #ea4900;
        }

        input[type="checkbox"]:checked+label:before {
            background: #ea4900;
        } */


/* --------------------------------------------------------------------------- */


/* Pruebas */

input[type=radio] {
    transform: scale(2) !important;
}

input[type="radio"]:checked+label:before {
    background: #ea4900;
}

input[type="radio"]+label:before {
    border: 2px solid #ea4900 !important;
}

input[type="checkbox"]:checked+label:before {
    background: #ea4900;
}

input[type="checkbox"]+label:before {
    border: 2px solid #ea4900 !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
