    .wrapper {
        width: 100%;
    }

    #content {
        width: 100%;
        padding: 0;
        display: inline-block;
        min-height: 100vh;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        margin-left: -5%;
    }

    .pointer {
        cursor: pointer;
        font-size: 15px;
    }

    .btn {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .active-pink-2 input[type=text]:focus:not([readonly]) {
        border-bottom: 1px solid #045282;
        box-shadow: 0 1px 0 0 #045282;
    }

    .active-pink input[type=text] {
        border-bottom: 1px solid #045282;
        box-shadow: 0 1px 0 0 #045282;
    }

    .fa-search:before {
        color: #045282 !important;
    }

    .buscar {
        border: 2px solid #98D6FD;
        width: 30% !important;
    }

    input[type=date] {
        margin: 0 auto;
        width: 180px !important;
    }

    .alert {
        padding: 0 !important;
    }
