<div class="wrapper d-flex align-items-stretch block animated fadeIn">

    <app-sidebar></app-sidebar>

    <div id="content" class="p-4 p-md-5 pt-5">
        <app-navbar></app-navbar>
        <div class="container" style="margin-left: 4%; margin-top: 5%;">
            <div class="card-deck">
                <div class="w-100 d-none d-xl-block">
                    <!-- wrap every 5 on xl-->
                </div>
                <div class="card mb-2" #contente>

                    <div class="card-body">
                        <h4 class="card-title text-center">Encuestas</h4>
                        <br>
                        <div class="card-text ">
                            <div *ngIf="cargando" class="row animated fadeIn">
                                <div class="col-sm-12">
                                    <div class="alert-warning text-center">
                                        <strong>Cargando</strong>
                                        <br>
                                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                                        <br>
                                        <span>Espere por favor</span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive ">
                                <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th>Encuesta</th>

                                            <th>Eliminar</th>
                                            <th>Ver</th>
                                            <th>Estado</th>
                                            <th>Resultados</th>
                                            <th>Enviar</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let encuesta of encuestas; let i = index">
                                            <td>{{encuesta.titulo}}</td>

                                            <td><span (click)="borrarEncuesta(encuesta)" title="Eliminar encuesta " class="badge badge-pill badge-danger pointer "><i class="far fa-trash-alt "></i></span></td>
                                            <td><span [routerLink]="['/encuesta', encuesta.id_Encuesta]" title="Ver encuesta " class="badge badge-pill badge-info pointer "><i class="far fa-eye "></i></span></td>
                                            <td *ngIf="encuesta.estado === 0 "><span title="Encuesta inactiva " class="badge badge-pill badge-danger pointer ">Inactiva</span></td>
                                            <td *ngIf="encuesta.estado === 1"><span title="Encuesta activa " class="badge badge-pill badge-success pointer ">Activa</span></td>
                                            <td><span [routerLink]="['/resultado', encuesta.id_Encuesta]" title="Resultados de encuesta" class="badge badge-pill badge-info pointer "><i class="far fa-bar-chart"></i></span></td>
                                            <td><span data-toggle="modal" [attr.data-target]="'#exampleModal' + i" title="Enviar encuesta" class="badge badge-pill badge-info pointer "><i class="far fa-share-square"></i></span></td>



                                            <div class="modal fade" data-backdrop="static" data-keyboard="false" id="exampleModal{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Enviar: <br> {{encuesta.titulo}}
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form novalidate [formGroup]="forma" (ngSubmit)="enviarCorreo(enviarCorreo)">
                                                                <div class="form-group">
                                                                    <label>Asunto</label>
                                                                    <input formControlName="asunto" name="asunto" type="text" class="form-control" placeholder="Ingrese el asunto del correo" required>
                                                                    <div class="alert alert-danger" *ngIf="forma.get('asunto').hasError('required') && forma.get('asunto').touched">
                                                                        <p style="color:red;">El asunto es un campo obligatorio</p>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Cliente</label>
                                                                    <select formControlName="cliente" name="cliente" class="form-control">
                                                                        <option value="ACH">ACH</option>
                                                                        <option value="ATH">ATH</option>
                                                                        <option value="Banco de Bogotá">Banco de Bogotá</option>
                                                                        <option value="Camara de Comercio de Bogotá">Camara de Comercio de Bogotá</option>
                                                                        <option value="Camara de Comercio de Cali">Camara de Comercio de Cali</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Servicio</label>
                                                                    <select formControlName="servicio" name="servicio" class="form-control">
                                                                        <option value="Soporte progresivo 2019-2020">Soporte progresivo 2019-2020</option>

                                                                        <option value="Consultoria">Consultoria</option>
                                                                        <option value="Desarrollo por alcance">Desarrollo por alcance</option>
                                                                        <option value="Fabrica de desarrollo">Fabrica de desarrollo</option>
                                                                    </select>
                                                                </div>
                                                                <div *ngFor="let dato of datos; let i = index">

                                                                    <div class="form-group">
                                                                        <label>Para</label>
                                                                        <input formControlName="para{{i}}" name="para{{i}}" type="email" class="form-control" placeholder="Ingrese el nombre del cliente {{i+1}}" required>
                                                                        <div class="alert alert-danger" *ngIf="forma.get('para'+i).hasError('required') && forma.get('para'+i).touched">
                                                                            <p style="color:red;">El correo es un campo obligatorio</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Email</label>
                                                                        <input formControlName="email{{i}}" name="email{{i}}" type="email" class="form-control" placeholder="Ingrese correo del receptor {{i+1}}" required>
                                                                        <div class="alert alert-danger" *ngIf="forma.get('email'+i).hasError('required') && forma.get('email'+i).touched">
                                                                            <p style="color:red;">El email es un campo obligatorio</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button type="button" class="btn btn-primary mr-2" (click)="add()" *ngIf="cont <= 1" data-toggle="tooltip" data-placement="bottom" title="Agregar email">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-danger" (click)="remove()" *ngIf="cont > 0" data-toggle="tooltip" data-placement="bottom" title="Agregar email">
                                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                                <i class="fas fa-ban"></i> Cerrar
                                                            </button>
                                                            <button [disabled]="!forma.valid" (click)="enviarCorreo(enviarCorreo)" type="button" class="btn btn-primary">
                                                                <i class="far fa-envelope"></i> Enviar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>