<!DOCTYPE html>
<html lang="esp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Registro</title>
</head>

<body class="animated fadeIn">
    <div class="sidenav">

        <div class="login-main-text  ">
            <h1 class="animated fadeIn ">Encuestas Lucasian labs </h1>
        </div>
        <span>Lucasian Labs, es un compañía desarrolladora de Software con una experiencia de más de 14 años en servicios de
      ingeniería, durante los cuales hemos ejecutado alrededor de 330.000 horas de fábrica.
    </span>
    </div>
    <div class="main">

        <img src="../../../assets/img/lucasian-logo.png" alt="">
        <div class=" col-sm-12">
            <h3>Registrarse</h3>
            <div class="login-form">
                <form novalidate [formGroup]="forma" (ngSubmit)="registrarUsuario(registrarUsuario)" class="animated bounceInDown">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input formControlName="nombre" name="nombre" type="text" class="form-control" required placeholder="Nombre" />
                        <div *ngIf="forma.get('nombre').hasError('required') && forma.get('nombre').touched">
                            <p style="color:red;">El nombre es un campo obligatorio</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input formControlName="correo" name="correo" type="email" class="form-control" required placeholder="Correo electronico" />
                        <div *ngIf="forma.get('correo').hasError('required') && forma.get('correo').touched">
                            <p style="color:red;">El correo es un campo obligatorio</p>
                        </div>

                        <div *ngIf="forma.get('correo').hasError('pattern') && forma.get('correo').touched">
                            <p style="color:red;">El campo no tiene formato de correo</p>
                        </div>
                    </div>
                    <div class="form-group animated bounce ">
                        <label> Contraseña</label>
                        <input formControlName="password" name="password" type="password" class="form-control" placeholder="Contraseña" required pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" />
                        <div *ngIf="forma.get('password').hasError('required') && forma.get('password').touched">
                            <p style="color:red;">La contraseña es un campo obligatorio</p>
                        </div>
                        <div *ngIf="forma.get('password').hasError('minlength') && forma.get('password').touched">
                            <p style="color:red;">Por lo menos 8 caracteres.</p>
                        </div>
                        <div *ngIf="forma.get('password').hasError('pattern') && forma.get('password').touched">
                            <p style="color:red;">Debe tener 1 mayúscula, 1 minúscula y ún numero</p>
                        </div>
                    </div>
                    <br>
                    <a routerLink="/login"><small>Ya tienes cuenta? Inicia sesión.</small></a>
                    <br>
                    <br>
                    <button [disabled]="!forma.valid" type="submit " class="btn btn-primary btn-block ">
            Registrarse <i class="fas fa-user-plus"></i></button>
                </form>
            </div>
        </div>
    </div>
</body>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>

</html>
