body {
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 100%;
}

.iconCheck {
    position: relative;
}

h3 {
    color: #045282;
    top: 10px;
    margin-left: 32%;
    position: relative;
}

.btn {
    width: 100% !important;
    border-radius: 1rem !important;
    padding: 1.5% !important;
    border: none !important;
}

.fa {
    position: absolute;
    padding: 11px;
    right: 1px;
}

.sidenav h1:before {
    content: " {  ";
    color: #EA4900;
}

.sidenav h1:after {
    content: "                            }";
    color: #EA4900;
    animation: changeLetter 3s linear infinite alternate;
}

h1 {
    animation-iteration-count: infinite;
    margin-left: 10%;
}

span {
    color: white;
    font-size: 1.3em;
}

.sidenav span:before {
    content: " {  ";
    color: #EA4900;
}

.sidenav span:after {
    content: " } ";
    color: #EA4900;
}

.main-head {
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-size: 100%;
    background-color: #38ADF0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://cdn.pixabay.com/photo/2018/02/16/10/23/web-3157323_960_720.jpg);
    background-blend-mode: multiply;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }
    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 60%;
    }
    .sidenav {
        width: 58%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .login-form {
        margin-top: 15%;
    }
    .register-form {
        margin-top: 0%;
    }
}

.login-main-text {
    margin-top: 0%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

img {
    margin-top: 5%;
    width: 30%;
    margin-left: 30%;
}
