<div class="container m-5 text-center animated fadeIn">
    <h2>Oops! Pagina no encontrada.</h2>
    <h1>404</h1>
    <p>Has intentado acceder a un sitio que no existe</p>
    <a routerLink="/login">Ir a Login</a>
</div>