<div class="wrapper d-flex align-items-stretch block animated fadeIn">

    <app-sidebar></app-sidebar>

    <div id="content" class="p-4 p-md-5 pt-5">
        <app-navbar></app-navbar>
        <div class="container" style="margin-left: 4%; margin-top: 5%;">
            <div class="card-deck">
                <div class="w-100 d-none d-xl-block">
                    <!-- wrap every 5 on xl-->
                </div>
                <div class="card mb-2">

                    <div class="card-body">
                        <h4 class="card-title text-center">{{encuesta.titulo}}</h4>
                        <br>
                        <br>
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">Busqueda</h5>
                                <div class="card-text">
                                    <form [formGroup]="forma">
                                        <small>Selecciona el cliente del cual quieres ver las encuestas enviadas</small>
                                        <select formControlName="cliente" name="cliente" required class="form-control">
                                              <option value="ATH">ATH</option>
                                              <option value="ACH">ACH</option>
                                              <option value="Banco de Bogotá">Banco de Bogotá</option>
                                              <option value="Cámara de Comercio de Bogotá">Cámara de Comercio de Bogotá</option>
                                              <option value="Cámara de Comercio de Cali">Cámara de Comercio de Cali</option>
                                            </select>
                                        <br>
                                        <small>Selecciona uno de los servicios</small>
                                        <select formControlName="servicio" name="servicio" class="form-control">
                                              <option value="Soporte progresivo 2019-2020">Soporte progresivo 2019-2020</option>
                                              <option value="Consultoria">Consultoria</option>
                                              <option value="Desarrollo por alcance">Desarrollo por alcance</option>
                                              <option value="Fabrica de desarrollo">Fabrica de desarrollo</option>
                                            </select>
                                        <br>
                                        <button (click)="cargarEnviados(cargarEnviados)" type="submit" class="float-right btn btn-primary">Consultar</button>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Cód Encuesta</th>
                                        <th>Cliente</th>
                                        <th>Destinatario</th>
                                        <th>Correo</th>
                                        <th>Servicio</th>
                                        <th>Fecha Envio</th>
                                        <th>Fecha Respuesta</th>
                                        <th>Ver resultados</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let encuesta of encuestas">
                                        <td>{{encuesta.codigo}}</td>
                                        <td>{{encuesta.cliente}}</td>
                                        <td>{{encuesta.para}}</td>
                                        <td>{{encuesta.email}}</td>
                                        <td>{{encuesta.servicio}}</td>
                                        <td>{{encuesta.fecha_E | date:"short"}}</td>
                                        <td>{{encuesta.fecha_R | date:"short"}}</td>
                                        <td><button (click)="resultados(encuesta.codigo, encuesta.para)" [value]="encuesta.codigo" class="btn btn-primary">Click aquí</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <h4 class="text-center">Resultados de: {{persona}}</h4>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let codigo of codigos">
                                        <td>{{codigo.pregunta}}</td>
                                        <td>{{codigo.respuesta}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
