<div class="wrapper d-flex align-items-stretch block animated fadeIn">

    <app-sidebar></app-sidebar>

    <div id="content" class="p-4 p-md-5 pt-5">
        <app-navbar></app-navbar>
        <div class="container" style="margin-left: 4%; margin-top: 5%;">
            <div class="card-deck">
                <div class="w-100 d-none d-xl-block">
                    <!-- wrap every 5 on xl-->
                </div>
                <div class="card mb-2">

                    <div class="card-body">
                        <h4 class="card-title text-center">Crea tu encuesta </h4>
                        <div class="card-text">
                            <div>
                                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="guardarEncuesta()">
                                    <div class="form-group">
                                        <label>Titulo de la encuesta</label>
                                        <input formControlName="titulo" name="titulo" type="text" class="form-control" placeholder="Ingresa el titulo de la encuesta" required>
                                        <br>
                                        <button type="submit" class="btn btn-info">Agregar preguntas</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
