.wrapper {
    width: 100%;
}

#content {
    width: 100%;
    padding: 0;
    display: inline-block;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: -5%;
}

.custom-control-label ::after {
    background-color: #ea4900 !important;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}


/* Radios */

.radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


/* Hide the browser's default radio button */

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkround {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-color: #EA4900;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}


/* When the radio button is checked, add a blue background */

.radio input:checked~.checkround {
    background-color: #fff;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkround:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.radio input:checked~.checkround:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.radio .checkround:after {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #EA4900;
}


/* CheckBox */

.check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-color: #ea4900;
    border-style: solid;
    border-width: 2px;
}


/* When the checkbox is checked, add a blue background */

.check input:checked~.checkmark {
    background-color: #EA4900;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.check input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.check .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid;
    border-color: #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mytextarea {
    border-bottom: 3px solid #EA4900 !important;
    background-color: #D3D2C8;
}

.opo {
    width: 70%;
    height: 180px;
    margin-top: -20%;
    overflow: auto;
    margin-left: 30%;
}

.loco {
    background-color: #EEEEEE;
}

.opo h5 {
    font-size: 15px !important;
}

hr {
    background-color: #EA4900;
}

.pointer {
    cursor: pointer;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
