<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <div class="conexion">
        <h5 class="animated fadeIn">Plataforma de Encuestas Lucasian Labs </h5>
        <!-- Search form -->
    </div>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a title="Perfil" class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                  <small>Ultima vez {{ usuario.conexion | date:"short"}}</small><br>
                  {{usuario.nombre}}
                </span>
                <img class="img-profile rounded-circle" [src]="usuario.img" width="40" height="40">

            </a>

            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in animated fadeIn" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a (click)="ultimaC()" title="Cerrar sesión" class="dropdown-item pointer" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-power-off fa-sm fa-fw mr-2 text-gray-400"></i> Cerrar sesión
                </a>
            </div>
        </li>
    </ul>

</nav>
