<nav id="sidebar" [ngClass]="{'active': ocultar}">
    <div class="custom-menu">
        <button title="Menú" (click)="sidebar()" type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fas fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
    </div>
    <div class="p-4 pt-5">
        <img class="logo" src="https://www.lucasian.com/wp-content/themes/lucasian/img/lucasian-logo.png" width="130" height="77" alt="Lucasian">
        <ul class="list-unstyled components mb-5">

            <li>
                <small>Interfaces</small>
                <a title="Menú encuestas" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i class="fas fa-file-alt"></i> &nbsp; Encuestas</a>

                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <div class="bg-white py-2 collapse-inner rounded animated fadeIn">
                        <small>INTERACCIONES</small>
                        <li routerLinkActive="active">
                            <a title="Crear encuesta" routerLink="/crear">Crear <i class="far fa-plus-square-o"></i></a>
                        </li>
                        <li routerLinkActive="active">
                            <a title="Actualizar encuesta" routerLink="/actualizar">Actualizar <i
                  class="far fa-pencil-square-o"></i></a>
                        </li>
                        <li routerLinkActive="active">
                            <a title="Eliminar encuesta" routerLink="/encuesta">Mi encuesta <i class="far fa-folder-open"></i></a>
                        </li>
                    </div>
                </ul>
            </li>
            <li>

                <a title="Resultados encuestas" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i class="far fa-bar-chart"></i> &nbsp;Resultados</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <div class="bg-white py-2 collapse-inner rounded animated fadeIn">
                        <small>OPCIONES</small>
                        <li>
                            <a title="Ver resultados" routerLink="/resultado" href="#">Ver <i class="far fa-eye"></i></a>
                        </li>
                    </div>
                </ul>
                <hr>
            </li>
            <li>
                <small>Informaciones</small>
                <a title="Ir a inicio" routerLink="/inicio">Acerca de el sitio web</a>
            </li>
        </ul>



        <div class="footer">
            <p>

                Copyright &copy; @LucasianLabs Sistema de encuestas para clientes

            </p>
        </div>

    </div>
</nav>