<body class="animated fadeIn">
    <div class="sidenav">

        <div class="login-main-text  ">
            <h1 class="animated fadeIn ">Encuestas Lucasian labs </h1>
        </div>
        <span>Lucasian Labs, es un compañía desarrolladora de Software con una experiencia de más de 14 años en servicios de
        ingeniería, durante los cuales hemos ejecutado alrededor de 330.000 horas de fábrica.
        </span>
    </div>
    <div class="main">

        <img src="../../../assets/img/lucasian-logo.png" alt="">
        <div class=" col-sm-12">
            <h3>Iniciar sesión</h3>
            <div class="login-form">
                <form #forma="ngForm" (ngSubmit)="ingresar(forma)" novalidate class="animated bounceInDown">
                    <div class="form-group">
                        <label>Correo</label>
                        <input [ngModel]="correo" name="correo" type="email" class="form-control" placeholder="Correo electronico" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    </div>
                    <div class="form-group animated bounce ">
                        <label> Contraseña</label>
                        <input [ngModel] name="password" type="password" class="form-control" placeholder="Ingresa tu contraseña" required minlength="7">
                    </div>
                    <br>
                    <a class="custom-control custom-checkbox">
                        <input [(ngModel)]="recuerdame" name="recuerdame" type="checkbox" class="custom-control-input" id="customCheck1" checked />
                        <label class="custom-control-label" for="customCheck1">Recordar mi correo</label>
                        <br>
                        <!-- <small routerLink="/registro"><small>No tienes cuenta? Registrate.</small></a> -->
                    </a>
                    <br>
                    <button [disabled]="!forma.valid" type="submit " class="btn btn-primary btn-block ">
                        Iniciar sesión <i class="fas fa-sign-in-alt"></i></button>
                    <button type="button" id="btnGoogle" title="Iniciar sesión con Google" class="btn Google">
                      <i class="fab fa-google-plus-square"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>